// src/sass/variables.scss

// Globals

$body-font-family: 'Noto Sans KR', sans-serif;
/*
$border-radius-root: 6px;
$font-size-root: 14px;
*/

// Variables must come before the import

/*
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
        'small': 20
);
$btn-sizes: (
        'default': 41,
        'large': 54
);

$headings: (
        'h1': (
                'size': 3.3125rem,
                'line-height': 1.15em
        ),
        'h2': (
                'size': 2.25rem,
                'line-height': 1.5em
        )
);
*/


/*
$list-item-title-font-size: 1.2rem; // 메뉴명 폰트 크기

$list-item-icon-margin: 8px;
$list-item-action-icon-margin: 12px; //아이콘과 메뉴명 사이 padding
$list-group-sub-group-child-margin: 8px;
$list-item-content-padding: 8px 0;
$list-group-no-action-item-padding: 45px; //서서브가 없는 서브메뉴명 앞 padding

$list-item-min-height: 30px;


$list-group-sub-group-header-margin: 45px; //서서브가 있는 서브메뉴명 앞 padding

 */
